* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

.App {
  min-height: 100vh;
}

.landing {
  height: 100%;
}

.landing-info {
  padding: 150px;
}

.landing-title {
  font-size: 4rem;
  font-weight: bold;
  margin: 20px;
}
.landing-subtitle {
  font-size: 1.5rem;
  margin: 10px;
}
nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 1.5rem;
  font-weight: 400;
  color: #5d576b;
  margin: 15px;
}

.login-register {
  display: flex;
  align-items: center;
  gap: 10px;
}

.login-btn {
  font-size: 1.2rem;
  color: #5d576b;
  border: none;
}

.register-btn {
  background-color: #5d576b;
  color: white;
  font-weight: bold;
  padding: 12px 18px;
  border-radius: 7px;

  margin-right: 10px;
  border: none;
}

.register-btn2 {
  background-color: #5d576b;
  color: white;
  font-weight: bold;
  padding: 20px 30px;
  border-radius: 8px;
  border: none;
}

.Login {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: whitesmoke;
}

.login-form-container {
  background-color: white;
  border: 1px solid black;
  padding: 40px;

  border-radius: 15px;
}

.Login input[type="text"] {
}

.Home {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.Display {
}

.sidemenu {
  text-align: center;
  flex: 10%;
  box-shadow: 4px 0 4px -5px #333;
  z-index: 1;
}
.sidemenu h3 {
  margin-bottom: 120px;
}
.sidemenu div {
  color: #373341;
  margin: 25px 0px;
  padding: 20px 0px;
}
.link {
  text-decoration: none;
}
.sidemenu div:hover {
  color: #ed6a5a;
}

.logo {
  color: #ed6a5a;
}

.main {
  flex: 80%;
}

.display-tasks {
}

.tasks-display {
  padding: 20px;
  height: 80vh;

  list-style: none;
  background-color: rgb(230, 230, 230);
}

.search-profile {
  display: flex;
  justify-content: end;
  gap: 15px;
}

.profile-link {
  padding: 25px 50px;
  color: #282c34;
}

.search-profile .link:hover {
  color: #ed6a5a;
}

.search-div {
  display: flex;
  align-items: center;
  margin: 10px 0px;

  border: 1px solid rgb(168, 168, 168);
  border-radius: 40px;
  position: relative;

  background-color: white;
}
.search-div input[type="search"] {
  border: none;
}
.search-div input[type="search"] {
  border: none;
}

.search-div input[type="search"]:focus {
  outline: none;
}
.search-div input[type="search"]::placeholder {
  font-size: 1rem;
  text-align: center;
}
#search-icon {
  color: gray;
}

.Add {
  text-align: end;
  margin: 15px;
}

.Add-div button {
  padding: 12px 32px;
  border: none;
  color: white;
  background-color: #ed6a5a;
}

.Add-div button:hover {
  background-color: #5d576b;
}

.Task {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 15px;
}
.task-content {
  padding: 5px 0px 5px 10px;
  width: 90%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
}

.task-info {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
}

.form-div form {
  display: flex;
  margin: 0;
}

.form-div h3 {
  margin: 0;
  text-align: center;
}

.update-form {
  display: flex;
  padding: 0;
  margin: 0;
}

.profile-link {
}

.delete-update {
  display: flex;
  align-items: center;
}

.high {
  display: block;
  border-right: 4px solid red;
  width: 100px;
  height: 100%;
}

.medium {
  background-color: orange;
}

.low {
  background-color: green;
}

@media (max-width: 768px) {
  .Home {
    flex-direction: column;
    height: 100%;
  }

  .sidemenu {
    display: flex;
    justify-content: space-around;
    gap: 0px;
    align-items: center;
    flex: 0%;
    padding: 5px;
    margin: 0px;
    box-shadow: 0px 0 0px 0px;
  }
  .sidemenu div {
    color: #373341;
    margin: 0px;
    padding: 0px;
  }
  .sidemenu h3 {
    margin: 0px;
    margin-bottom: 0px;
  }

  .search-profile {
    justify-content: space-evenly;
  }
}

@media (max-width: 480px) {
  .sidemenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    align-items: center;
  }

  .form-div form {
    flex-wrap: wrap;
  }
  .Task {
    background-color: ;
  }
  .task-content {
    background-color: none;
    padding: 50px 100px;

    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .task-info {
    margin: 0px;
    justify-content: center;
    gap: 5px;
  }
}
