* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

.App {
  min-height: 100vh;
}

.landing {
  height: 100%;
  text-align: center;
}

.landing-info {
  padding: 150px;
}

.landing-title {
  font-size: 4rem;
  font-weight: bold;
  margin: 20px;
}
.landing-subtitle {
  font-size: 1.5rem;
  margin: 10px;
}
nav {
  display: flex;
  justify-content: space-around;
}

.logo {
  font-size: 1.5rem;
  font-weight: 400;
  color: #5d576b;
  margin: 15px;
}

.Login {
  height: 100%;
  text-align: center;
}

.login-register {
  display: flex;
  align-items: center;
  gap: 10px;
}

.login-btn {
  font-size: 1.2rem;
  color: #5d576b;
  background-color: white;
  border: none;
}

.register-btn {
  background-color: #5d576b;
  color: white;
  font-weight: bold;
  padding: 12px 18px;
  border-radius: 7px;

  margin-right: 10px;
  border: none;
}

.register-btn2 {
  background-color: #5d576b;
  color: white;
  font-weight: bold;
  padding: 20px 30px;
  border-radius: 8px;
  border: none;
}

.Login,
.Registration {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: whitesmoke;
}

.Registration {
  display: flex;
  flex-direction: column;
}

.register-form-container {
  background-color: white;

  padding: 40px;

  border-radius: 15px;
}




.Registration input[type="text"] {
  padding: 7px 15px;
  margin: 5px;
}

.Registration input[type="submit"] {
  width: 100%;
  padding: 7px 15px;
  margin: 5px;
}

.Login form {
  margin:10% auto 0 auto;
	padding:50px;
	width:400px;
	height:auto;
	overflow:hidden;
	background:white;
	border-radius:10px;
}

.Login form label {
	font-size:14px;
	color:rgb(133, 133, 133);
	cursor:pointer;
}



.Login form input {
	margin:15px 0;
	padding:15px 10px;
	width:100%;
	outline:none;
	border:1px solid #bbb;
	border-radius:20px;
	display:inline-block;

}

.Login input[type=submit] {
	padding:15px 50px;
	width:auto;
	background-color:#5d576b;
	border:none;
	color:white;
	cursor:pointer;
	display:inline-block;
	width: 100%;
	

}

.Login input[type=submit]:hover {

	background-color:#ed6a5a;

	

}


.Home {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.Display {
}

.sidemenu {
  text-align: start;
  flex: 10%;
  box-shadow: 4px 0 4px -5px #333;
  z-index: 1;
}
.sidemenu h3 {
  margin-bottom: 50px;
  text-align: center;
}
.sidemenu div {
  color: #373341;
  margin: 15px 45px;
  padding: 20px 0px;
}
.link {
  text-decoration: none;
}
.sidemenu div:hover {
  color: #ed6a5a;
}

.logo {
  color: #373341;
  font-size: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
  flex: 80%;
}

.display-tasks {
}

.tasks-display {
  padding: 20px;
  height: 80vh;

  list-style: none;
  background-color: rgb(230, 230, 230);
}

.search-profile {
  display: flex;
  justify-content: end;
  gap: 15px;
}

.profile-link {
  padding: 25px 50px;
  color: #282c34;
}

.search-profile .link:hover {
  color: #ed6a5a;
}

.search-div {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  padding: 0px 40px 0px 40px;

  border: 1px solid rgb(168, 168, 168);
  border-radius: 50px;
  position: relative;

  background-color: white;
}
.search-div input[type="search"] {
  border: none;
}
.search-div input[type="search"] {
  border: none;
}

.search-div input[type="search"]:focus {
  outline: none;
}
.search-div input[type="search"]::placeholder {
  font-size: 1rem;
  text-align: center;
}
#search-icon {
  color: gray;
}

.Add {
  text-align: end;
  margin: 15px;
}

.Add-div button {
  padding: 12px 32px;
  border: none;
  color: white;
  background-color: #ed6a5a;
}

.Add-div button:hover {
  background-color: #5d576b;
}

.Task {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 15px;
}
.task-content {
  padding: 0px 10px 0px 0px;
  width: 90%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
}

.task-info {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
}

.form-div form {
  display: flex;
  margin: 0;
}

.form-div h3 {
  margin: 0;
  text-align: center;
}

.update-form {
  display: flex;
  padding: 0;
  margin: 0;
}

.profile-link {
}

.delete-update {
  display: flex;
  align-items: center;
}

.high {
  display: block;
  border-left: 4px solid red;
  border-radius: 10px;

  height: 100%;
}

.medium {
  display: block;
  border-left: 4px solid orange;
  border-radius: 10px;

  height: 100%;
}

.low {
  display: block;
  border-left: 4px solid green;
  border-radius: 10px;

  height: 100%;
}

.delete,
.update {
  background-color: white;
  border: none;
}
.delete-icon,
.edit-icon {
  font-size: 1.2rem;
}

.task-info .title {
  font-size: 0.8rem;
  color: gray;
  margin: 5px;
}
.task-info h5 {
  margin: 5px;
}

.Profile {
  text-align: center;
}
.Profile button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  background-color: #5d576b;
  color: white;
}
.Profile button:hover {
  background-color: #ed6a5a;
}
.user-pass {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.user-pass h4 {
  color: #282c34;
}
.user {
  text-align: center;
}

.user div {
  margin: 5px;
}

.pass {
  text-align: center;
}

.pass div {
  margin: 5px;
}

.sidemenu-icons {
  margin-right: 5px;
}

@media (max-width: 768px) {
  .Home {
    flex-direction: column;
    height: 100%;
  }

  .sidemenu {
    display: flex;
    justify-content: space-around;
    gap: 0px;
    align-items: center;
    flex: 0%;
    padding: 50px 5px;
    margin: 0px;
    box-shadow: 0px 0 0px 0px;
  }
  .sidemenu-links {
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    padding: 10px;
  }

  .sidemenu div {
    color: #373341;
    font-size: 1.2rem;
    margin: 0px;
    padding: 0px;
  }
  .sidemenu h3 {
    margin: 0px;
    margin-bottom: 0px;
  }

  .search-profile {
    justify-content: space-evenly;
  }
  .update-form {
    flex-wrap: wrap;
  }

  .profile-link {
    display: none;
  }

  .search-div {
    padding: 10px 50px;
  }
}

@media (max-width: 480px) {
  .sidemenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    align-items: center;
  }

  .form-div form {
    flex-wrap: wrap;
  }

  .task-content {
    background-color: none;
    padding: 0px;
    flex-wrap: wrap;
  }
  .task-info {
    margin: 0px;
    padding: 0px;
    justify-content: center;
    gap: 5px;
  }

  .delete-update {
    margin: 0px 0px 0px 5px;
  
  }

  .landing-info {
    padding: 0px;
  }
  


}

@media (max-width: 425px) {
  .sidemenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    align-items: center;
  }

  .form-div form {
    flex-wrap: wrap;
  }

  .tasks-display {
   
    height: 100%;
  }
  .Task {
  }
  .task-content {
    background-color: none;
    padding: 0px;
    flex-wrap: wrap;
  }
  .task-info {
    margin: 0px;
    padding: 0px;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
  }

  .delete-update {

    align-items: start;
  }



}

@media (max-width: 375px) {

  .sidemenu-icons {
    display: none;
  }

  .sidemenu-links {
    padding: 25px;
    font-size: 1.2rem;
  }

 
}



@media (max-width: 320px) {
  
  .sidemenu-links {
    justify-content: space-around;
  }

  .task-content {
    flex-wrap: wrap;
  }
  .delete-update {
    padding: 0px;
    margin: 0px 0px 0px 50px;
    align-items: start;
  }

 
}
